<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Runtime metrics</title>
</head>
<body>
  <header>
      <h1>List of stored metrics</h1>
      <table>
          <tr>
              <th>ID</th>
              <th>Value</th>
          </tr>
          {{range $i, $metric := .}}
              <tr>
                  <td>{{$metric.ID}}</td>
                  <td>
                      {{if eq $metric.MType "counter"}}
                          {{$metric.Delta}}
                      {{else}}
                          {{$metric.Value}}
                      {{end}}
                  </td>
              </tr>
          {{end}}
      </table>
  </header>
</body>
</html>
